/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;

} 

.header .header-logo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #FFFFFF; 
}

.header .header-menu a:hover {
    color: #3498db;
}

/*
BANNER
*/

.banner{
    margin-top: -24px;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.banner .banner-content h1, .banner .banner-content h2{
    color: #FFFFFF;
}

.banner .banner-content h1 {
    font-size: 4rem;
}

/*
ABOUT
*/
.section-about {
    background-color:  #02040F;
}
.about .about-single-element {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about .about-single-element p {
    color: #FFFFFF;
    text-align: left;
    margin-top: 25px;
}

.fa-laptop-code {
    color: hsl(348, 100%, 61%);
}

.fa-python {
   color: hsl(271, 100%, 71%);
}

.fa-coffee {
    color:#03a9c2;
}